<!DOCTYPE html>
<html>
  <body>
    {% if found and data and data.document %}
      <div>
        <form action="/delete" method="post">
          <div>
            <label for="User">User:</label>
            <input type="text" id="User" name="User" value="{{ data.document.User }}" readonly />
            <br />
            <br />
            <label for="Date">Date:</label>
            <input type="date" id="Date" name="Date" value="{{ data.document.Date }}" readonly />
            <br />
            <br />
          </div>

          <div>
            <table>
              <tr>
                <th>PROJECT</th>
                <th>TASK</th>
                <th>HOURS</th>
              </tr>
              {% for task_dts_sep in data.document.Task_dts %}
                <tr>
                  {% for task_dts_sep_single in data.document.Task_dts[task_dts_sep] %}
                    <td>{{ task_dts_sep_single }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
            <br />
            <div>
              <button formaction="/delete" formmethod="post">Delete</button>
            </div>
          </div>
        </form>
      </div>
    {% else %}
      <h3>No results</h3>
      <p>{{ message }}</p>
      <a href="/home">Back to Home</a>
    {% endif %}
  </body>
</html>
